diffusers==0.25.0
facenet-pytorch==2.5.3
fastapi==0.109.0
numpy==1.26.4
onnx==1.17.0
onnxruntime-gpu @ file:///tmp/onnxruntime_gpu-1.20.0-cp310-cp310-linux_aarch64.whl
opencv-contrib-python==4.9.0.80
opencv-python==4.9.0.80
opencv-python-headless==4.11.0.86
pillow==10.2.0
torch==2.8.0
torchvision==0.23.0
transformers==4.36.2
uvicorn==0.27.0
